name: Sync Output
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}

on:
  workflow_call:

jobs:
  sync-output:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/create-github-app-token@v1
        id: lco-deploy-bot
        with:
          app-id: ${{ secrets.LCO_DEPLOY_BOT_APP_ID }}
          private-key: ${{ secrets.LCO_DEPLOY_BOT_APP_PRIVATE_KEY }}
          
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ steps.lco-deploy-bot.outputs.token }}

      - uses: jashandeep-sohi/action-cache-api-shim@v1
      - name: Install nix
        uses: cachix/install-nix-action@v24
        with:
          extra_nix_config: |
            accept-flake-config = true

      - uses: DeterminateSystems/determinate-nix-action@v3
      - uses: DeterminateSystems/flakehub-cache-action@main
      - name: Install determinate-nixd
        run: nix profile install github:DeterminateSystems/determinate-nixd

      - name: Run pre-commit hooks
        run: nix develop --impure --command pre-commit run --all-files
        continue-on-error: true

      - name: Update PR w/ changes
        shell: /usr/bin/bash -c "nix develop --impure --command bash -e {0}"
        run: |-
          git config user.name '${{ vars.LCO_DEPLOY_BOT_APP_NAME }}[bot]'
          git config user.email '${{ vars.LCO_DEPLOY_BOT_APP_ACTOR_ID }}+${{ vars.LCO_DEPLOY_BOT_APP_NAME }}@users.noreply.github.com'

          git add -A output/
          
          if ! git diff --cached --exit-code output/; then
            git commit -m "update output"
            git push origin HEAD
          fi
